:root {
  --basic-font-family: "PT Sans", "Verdana", sans-serif;;
  --special-font-family: "Cuprum", "Arial", sans-serif;;
  --basic-black: #000000;
  --basic-dark-blue: #293449;
  --basic-blue: #32425c;
  --basic-green: #63a63e;
  --basic-red: #ee3643;
  --basic-light-gray: #f1f5f7;
  --basic-beige: #f7f3ec;
  --basic-light-beige: #f9f5f0;
  --basic-white: #ffffff;
  --special-transparent-black: rgba(0, 0, 0, 0.3);
  --special-active-blue: #1d2739;
  --specal-dark-blue: #212a3a;
  --special-hover-blue: #3d546f;
  --special-light-blue: #3bbce3;
  --special-active-green: #518534;
  --special-hover-green: #5fbb2d;
  --special-green: #8ed78f;
  --special-active-red: #ba2732;
  --special-purple: #dc91d8;
  --special-yellow: #ffbf47;
  --special-light-yellow: #ffd180;
  --special-active-yellow: rgba(255, 209, 128, 0.5);
  --special-very-dark-gray: #444444;
  --special-dark-gray: #a9a9a9;
  --special-darker-gray: #b5b5b5;
  --special-active-darker-gray: rgba(50, 66, 92, 0.5);
  --special-active-gray: #c5c5c5;
  --special-gray: #e5e5e5;
  --special-transparent-gray: rgba(169, 169, 169, 0.3);
  --special-lighter-gray: #eaeaea;
  --special-active-lighter-gray: rgba(241, 245, 247, 0.5);
  --special-transparent-lighter-gray: rgba(197, 197, 197, 0.3);
  --special-one-more-gray: #f1f1f1;
  --special-light-gray: #f2f6f8;
  --special-almost-white: #f3f7f9;
  --special-active-white: rgba(255, 255, 255, 0.5);
  --special-transparent-white: rgba(255, 255, 255, 0.3);
}

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: var(--basic-font-family);
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.main-header {
  font-family: var(--special-font-family);
  background-color: var(--special-almost-white);
}

.main-header-top {
  font-size: 18px;
  background-color: var(--basic-dark-blue);
  color: var(--basic-white);
}

.main-header-top .link {
  color: var(--basic-white);
}

.logo {
  background-color: var(--basic-red);
}

.main-header-logo:active {
  background-color: var(--special-active-red);
}

.bookmarks-link::before {
  content: url("../img/icons/icon-bookmark.svg");
}

.cart-link::before {
  content: url("../img/icons/icon-cart.svg")
}

.order-button:hover {
  background-color: var(--special-hover-green);
}

.order-button {
  background-color: var(--basic-green);
}

.order-button:active {
  background-color: var(--basic-green);
}

.main-header-top .link:active {
  color: var(--special-active-white);
}

.search-button {
  background-color: var(--basic-dark-blue);
}

.search-field {
  background-color: var(--basic-dark-blue);
 }

 .search-field::placeholder {
  color: var(--basic-white);
 }

.search-field:focus {
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.search-field:focus + .search-button {
  background-color: var(--basic-white);
}

.main-header-description {
  font-size: 16px;
  line-height: 23px;
  color: var(--basic-red);
}

.main-header-phone {
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-red);
  border: 3px solid var(--basic-white);
}

.main-header-phone::before {
  content: url(../img/icons/icon-phone.svg);
}

.main-header-address {
  font-size: 14px;
  color: var(--basic-blue);
}

.user-navigation-button {
  background-color: var(--basic-white);
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
}

.user-navigation-button:hover {
  color: var(--basic-red);
}

.user-navigation-button:active {
  color: var(--special-active-gray);
}

.login-button::before {
  content: url("../img/icons/icon-login.svg");
}

.profile-button::before {
  content: url("../img/icons/icon-user.svg");
}

.logout-button::before {
  content: url(../img/icons/icon-login.svg);
}

.profile-navigation {
  list-style: none;
}

.profile-navigation-button {
  background-color: var(--basic-white);
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-blue);
}

.main-navigation {
  font-size: 18px;
  color: var(--basic-white);
  background-color: var(--basic-blue);
}

.site-navigation {
  list-style: none;
}

.site-navigation-link {
  color: var(--basic-white);
  background-color: var(--basic-blue);
}

.site-navigation-link[href]:hover {
  background-color: var(--basic-dark-blue);
}

.site-navigation-link:active {
  background-color: var(--special-active-blue);
  color: var(--special-active-white);
}

.categories {
  font-family: var(--special-font-family);
  color: var(--basic-white);
}

.categories-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

.button {
  font-family: var(--special-font-family);
  background-color: var(--basic-red);
  color: var(--basic-white);
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  border: none;
}

.button:active {
  background-color: var(--special-active-red);
}

.categories-item {
  background-repeat: no-repeat;
  background-position: center right;
}

.categories-item-link {
  background-color: var(--special-transparent-white);
}

.categories-item-link:hover {
  background-color: var(--special-transparent-lighter-gray);
}

.categories-item-link:active {
  background-color: var(--special-transparent-gray);
}

.slider-title {
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
}

.materials {
  background-color: var(--special-yellow);
  background-image: url("../img/icons/icon-1.svg");
}

.tools {
  background-color: var(--special-light-blue);
  background-image: url("../img/icons/icon-2.svg");
}

.equipment {
  background-color: var(--special-purple);
  background-image: url("../img/icons/icon-3.svg");
}

.sale {
  background-color: var(--special-green);
  background-image: url("../img/icons/icon-4.svg");
}

.delivery {
  background-color: var(--special-yellow);
  background-image: url("../img/icons/icon-5.svg");
}

.slider-item {
  background-repeat: no-repeat;
}

.perforators {
  background-image: url("../img/slider/perforators.jpg");
  background-color: var(--special-dark-gray);
}

.drills {
  background-image: url("../img/slider/drills.jpg");
  background-color: var(--special-very-dark-gray);
}

.section-header {
  font-family: var(--special-font-family);
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-blue);
}

.popular-products-list {
  list-style: none;
}

.catalog-item .button {
  border-radius: 2px;
}

.buy-button {
  background-color: var(--basic-green);
}

.buy-button:hover {
  background-color: var(--special-hover-green);
}

.buy-button:active {
  background-color: var(--special-active-green);
}

.bookmark-button {
  border: 3px solid var(--basic-green);
  background-color: var(--basic-white);
  color: var(--basic-blue);
}

.bookmark-button:hover {
  border-color: var(--basic-blue);
}

.bookmark-button:active {
  background-color: var(--basic-white);
  border-color: var(--special-active-darker-gray);
  color: var(--special-active-darker-gray);
}

.catalog-item-title {
  font-size: 18px;
  line-height: 20px;
  color: var(--basic-black);
}

.catalog-item-price-old {
  text-transform: uppercase;
  color: var(--special-dark-gray);
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
}

.catalog-item-price {
  text-transform: uppercase;
  background-color: var(--basic-red);
  background-repeat: no-repeat;
  color: var(--basic-white);
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
}

.brands-list {
  list-style: none;
}

.section-header.alternative {
  color: var(--basic-black);
}

.services {
  background-color: var(--basic-light-gray);
}

.perforators-intro {
  background-color: var(--basic-light-gray);
}

.services-slider-list {
  list-style: none;
}

.services-slider-button {
  font-family: var(--special-font-family);
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-white);
  background-color: var(--basic-blue);
}

.services-slider-button:hover {
  background-color: var(--basic-dark-blue);
}

.services-slider-button.active {
  color: var(--basic-blue);
  background-color: var(--basic-white);
}

.services-slider-item {
  background-repeat: no-repeat;
  background-position: center right;
}

.services-delivery {
  background-image: url("../img/services/delivery.png");
}

.services-warranty {
  background-image: url("../img/services/warranty.png");
}

.services-loans {
  background-image: url("../img/services/loans.png");
}

.partners-list {
  font-family: var(--special-font-family);
  font-size: 18px;
}

.breadcrumbs {
  list-style: none;
}

.breadcrumbs-link {
  line-height: 18px;
  text-transform: uppercase;
}

.breadcrumbs .homepage::before {
  content: url("../img/icons/icon-home.svg");
}

.breadcrumbs-item:after {
  content: url("../img/icons/icon-right-small.svg");
}

.breadcrumbs-item:last-child::after {
  content: none;
}

.main-heading {
  font-family: var(--special-font-family);
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  background-color: var(--special-light-gray);
  color: var(--basic-blue);
}

.filter {
  line-height: 18px;
  text-transform: uppercase;
}

.sort-and-filter-title {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 400;
  background-color: var(--basic-beige);
}

.filter-legend {
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
}

.filter-field {
  background-color: var(--basic-beige);
}

.filter-field.text {
  font-size: 17px;
  line-height: 18px;
}

.filter-label {
  font-size: 15px;
  line-height: 19px;
}

.filter-brands {
  list-style: none;
}

/* Поменял пока эти селекторы ниже в соответствии с твоим комментарием, но впоследствии их все равно убрать надо будет наверно, да? Эти svg же тоже цвет меняют при наведении, а значит им место в разметке по-видимому */

.filter-brands-checkbox::before {
  content: url("../img/icons/checkbox-off.svg");
}

.filter-brands-checkbox:hover::before {
  content: url("../img/icons/checkbox-off-hover.svg");
}

.filter-brands-checkbox[checked]::before {
  content: url("../img/icons/checkbox-on.svg");
}

.filter-brands-checkbox[checked]:hover::before {
  content: url("../img/icons/checkbox-on-hover.svg");
}

.filter-power {
  list-style: none;
}

.filter-power-radio::before {
  content: url("../img/icons/radio-off.svg");
}

.filter-power-radio:hover::before {
  content: url("../img/icons/radio-off-hover.svg");
}

.filter-power-radio[checked]::before {
  content: url("../img/icons/radio-on.svg");
}

.filter-power-radio[checked]:hover::before {
  content: url("../img/icons/radio-on-hover.svg");
}

.show-button {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  border: 1px solid var(--special-gray);
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.sort-list {
  list-style: none;
}

.sort-button {
  line-height: 18px;
  text-transform: uppercase;
  color: var(--special-transparent-black);
  border: none;
  border-bottom: 1px dotted var(--basic-red);
}

.sort-button:hover {
  color: var(--basic-black);
  border-bottom: 1px solid var(--basic-red);
}

.ascending::before {
  content: url(../img/icons/icon-up-dir.svg);
}

.descending::before {
  content: url(../img/icons/icon-down-dir.svg);
}

.sort-order {
  border: none;
}

.sort-order:hover {
  border: none;
}

.ascending:hover::before {
  content: url(../img/icons/icon-up-dir-black.svg);
}

.descending:hover::before {
  content: url(../img/icons/icon-down-dir-black.svg);
}

.catalog-pagination {
  list-style: none;
}

.catalog-pagination-button {
  line-height: 18px;
  border: 1px solid var(--special-gray);
  border-radius: 2px;
  background-color: var(--basic-white);
}

.catalog-pagination-button:hover {
  border-color: var(--special-active-gray);
}

.catalog-pagination-button:active {
  border-color: var(--basic-red);
}

.main-footer {
  font-family: var(--special-font-family);
  background-color: var(--basic-blue);
}

.footer-bottom {
  font-size: 16px;
  line-height: 18px;
  background-color: var(--basic-dark-blue);
}

.footer-middle {
  font-size: 18px;
}

.footer-site-navigation {
  list-style: none;
}

.footer-site-navigation-link {
  color: var(--basic-light-gray);
}

.footer-site-navigation-link:hover {
  text-decoration: underline;
}

.footer-site-navigation-link:active {
  text-decoration: none;
  color: var(--special-active-lighter-gray);
}

.footer-contacts {
  color: var(--special-almost-white);
}

.footer-additional-navigation {
  list-style: none;
}

.footer-additional-navigation-link {
  color: var(--special-light-yellow);
}

.footer-additional-navigation-link:hover {
  text-decoration: underline;
}

.footer-additional-navigation-link:active {
  text-decoration: none;
  color: var(--special-active-yellow);
}

.footer-copyright {
  color: var(--basic-white);
}

.footer-social {
  list-style: none;
}

.social-button {
  background-color: var(--specal-dark-blue);
}

.social-button:hover {
  background-color: var(--basic-red);
}

.social-button:active {
  background-color: var(--basic-red);
}

.vk::before {
  content: url(../img/icons/icon-vk.svg);
}

.facebook::before {
  content: url(../img/icons/icon-fb.svg);
}

.instagram::before {
  content: url(../img/icons/icon-insta.svg);
}

.footer-feedback {
  color: var(--basic-white);
}

.footer-feedback-link {
  color: var(--special-light-yellow);
}

.footer-feedback-link:hover {
  text-decoration: underline;
}

.footer-feedback-link:active {
  color: var(--basic-red);
  text-decoration: none;
}

.footer-developer {
  color: var(--basic-white);
}

.footer-developer-link {
  color: var(--special-light-yellow);
}

.footer-developer-link:hover {
  text-decoration: underline;
}

.footer-developer-link:active {
  color: var(--basic-red);
  text-decoration: none;
}

.contact-us-label {
  font-family: var(--special-font-family);
  font-size: 18px;
}

.contact-us-field::placeholder {
  color: var(--special-dark-gray);
  border: 2px solid var(--special-active-gray);
}

.contact-us-field {
  color: var(--special-dark-gray);
  border: 2px solid var(--special-active-gray);
}

.close-button {
  background-image: url("../img/icons/icon-close.svg");
  background-repeat: no-repeat;
}

.added-to-cart-message {
  font-family: var(--special-font-family);
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: var(--basic-black);
}

.added-to-cart-message::before {
  content: url(../img/icons/icon-mark.svg);
}

.button-area {
  background-color: var(--special-one-more-gray);
}

.continue-button {
  background-color: var(--basic-white);
  color: var(--basic-black);
}
