:root {  
  --basic-black: #000000;
  --basic-dark-blue: #293449;
  --basic-blue: #32425c;
  --basic-green: #63a63e;
  --basic-red: #ee3643;
  --basic-light-gray: #f1f5f7;
  --basic-beige: #f7f3ec;
  --basic-light-beige: #f9f5f0;
  --basic-white: #ffffff;
  --special-active-blue: #1d2739;
  --specal-dark-blue: #212a3a;
  --special-hover-blue: #3d546f;
  --special-light-blue: #3bbce3;
  --special-active-green: #518534;
  --special-hover-green: #5fbb2d;
  --special-green: #8ed78f;
  --special-active-red: #ba2732;
  --special-purple: #dc91d8;
  --special-yellow: #ffbf47;
  --special-light-yellow: #ffd180;
  --special-very-dark-gray: #444444;
  --special-dark-gray: #a9a9a9;
  --special-darker-gray: #b5b5b5;
  --special-active-gray: #c5c5c5;
  --special-gray: #e5e5e5;
  --special-lighter-gray: #eaeaea;
  --special-one-more-gray: #f1f1f1;
  --special-light-gray: #f2f6f8;
  --special-almost-white: #f3f7f9;
}

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-blue);
  background-color: var(--basic-white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.main-header {
  background-color: var(--special-almost-white);
}

.main-header-top {
  background-color: var(--basic-dark-blue);
  color: var(--basic-white);
}

.main-header-top a {
  color: var(--basic-white);
}

.logo {
  background-color: var(--basic-red);
}

.main-header-logo:focus {
  background-color: var(--special-active-red);
}

.bookmarks::before {
  content: url("../img/icons/icon-bookmark.svg");
}

.cart::before {
  content: url("../img/icons/icon-cart.svg")
}

.order-button:hover {
  background-color: var(--special-hover-green);
}

.order-button, .order-button:active {
  background-color: var(--basic-green);
}

.main-header-top a:focus {
  color: rgba(255, 255, 255, 0.5);
}

.search-form button {
  background-color: var(--basic-dark-blue);
}

.search-form button::before {  
  content: url("../img/icons/icon-search.svg");  
}

.search-form input {
  background-color: var(--basic-dark-blue);
 }

 .search-form input::placeholder {
  color: var(--basic-white);
 }

.search-form input:focus {
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.main-header-middle i {
  font-size: 16px;
  line-height: 23px;
  color: var(--basic-red);
}

.main-header-contacts a {
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-red);
}

.main-header-contacts a::before {
  content: url(../img/icons/icon-phone.svg);
}

.main-header-phone {
  border: 3px solid var(--basic-white);
}

.user-navigation a {
  background-color: var(--basic-white);
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
}

.user-navigation a:hover {
  color: var(--basic-red);
}

.user-navigation a:focus {
  color: var(--special-active-gray);
}

.login-button::before {
  content: url("../img/icons/icon-login.svg");
}

.profile-button::before {
  content: url("../img/icons/icon-user.svg");
}

.logout-button::before {
  content: url(../img/icons/icon-login.svg);
}

.profile-navigation {
  list-style: none;  
}

.profile-navigation a {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-blue);
  background-color: inherit;
}

.main-navigation {  
  color: var(--basic-white);
  background-color: var(--basic-blue);
}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  color: var(--basic-white);
}

.site-navigation a:hover {
  background-color: var(--basic-dark-blue);
}

.site-navigation a:not([href]) {
  background-color: var(--basic-blue);
}

.site-navigation a:focus {
  background-color: var(--special-active-blue);
  color: rgba(255, 255, 255, 0.5);
}

.categories {
  color: var(--basic-white);
}

.categories h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

.button {
  background-color: var(--basic-red);
  color: var(--basic-white);
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  border: none;
}

.button:focus {
  background-color: var(--special-active-red);
}

.categories-item a {
  background-color: rgba(255, 255, 255, 0.3);
}

.categories-item a:hover {
  background-color: rgba(197, 197, 197, 0.3);
}

.categories-item a:focus {
  background-color: rgba(169, 169, 169, 0.3);
}

.slider h3 {
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
}

.materials, .delivery {
  background-color: var(--special-yellow);
}

.materials {
  background-image: url("../img/icons/icon-1.svg");
  background-repeat: no-repeat;
  background-position: center right;
}

.tools {
  background-color: var(--special-light-blue);
  background-image: url("../img/icons/icon-2.svg");
  background-repeat: no-repeat;
  background-position: center right;
}

.equipment {
  background-color: var(--special-purple);
  background-image: url("../img/icons/icon-3.svg");
  background-repeat: no-repeat;
  background-position: center right;
}

.sale {
  background-color: var(--special-green);
  background-image: url("../img/icons/icon-4.svg");
  background-repeat: no-repeat;
  background-position: center right;
}

.delivery {
  background-image: url("../img/icons/icon-5.svg");
  background-repeat: no-repeat;
  background-position: center right;
}

.perforators {
  background-image: url("../img/slider/perforators.jpg");
  background-repeat: no-repeat;
  background-color: var(--special-dark-gray);
}

.drills {
  background-image: url("../img/slider/drills.jpg");
  background-repeat: no-repeat;
  background-color: var(--special-very-dark-gray);
}

.section-header {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.popular-products-list {
  list-style: none;
}

.catalog-item .button {
  border-radius: 2px;
}

.buy-button {
  background-color: var(--basic-green);
}

.buy-button:hover {
  background-color: var(--special-hover-green);
}

.buy-button:focus {
  background-color: var(--special-active-green);
}

.bookmark-button {
  border: 3px solid var(--basic-green);
  background-color: var(--basic-white);
  color: var(--basic-blue);
}

.bookmark-button:hover {
  border-color: var(--basic-blue);  
}

.bookmark-button:focus {
  background-color: var(--basic-white);
  border-color: rgba(50, 66, 92, 0.5);
  color: rgba(50, 66, 92, 0.5);
}

.catalog-item-title a {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 20px;
  color: var(--basic-black);
}

.catalog-item-price-old {
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;  
  color: var(--special-dark-gray);  
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;  
}

.catalog-item-price {
  font-family: "PT Sans", "Arial", sans-serif;
  text-transform: uppercase;
  background-image: url("../img/icons/red-button.svg");
  background-repeat: no-repeat;
  color: var(--basic-white);
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
}

.brands-list {
  list-style: none;
}

.section-header.alternative {
  color: var(--basic-black);
}

.info-block p {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  color: var(--basic-black);
}

.services, .perforators-intro {
  background-color: var(--basic-light-gray);
}

.services-slider-list {
  list-style: none;
}

.services-slider-button {
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-white);
  background-color: var(--basic-blue);
}

.services-slider-button:hover {  
  background-color: var(--basic-dark-blue);
}

.services-slider-item.delivery {
  background-color: var(--special-light-blue);
  background-image: url("../img/services/delivery.png");
  background-repeat: no-repeat;
  background-position: center right;
}

.services-slider-item.warranty {
  background-color: var(--special-light-yellow);
  background-image: url("../img/services/warranty.png");
  background-repeat: no-repeat;
  background-position: center right;
}

.services-slider-item.loans {
  background-color: var(--special-green);
  background-image: url("../img/services/loans.png");
  background-repeat: no-repeat;
  background-position: center right;
}

.partners-list {
  color: var(--basic-black);
}

.breadcrumbs {
  list-style: none;
}

.breadcrumbs a {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
  text-transform: uppercase;
}

.breadcrumbs .homepage::before {
  content: url("../img/icons/icon-home.svg");
}

.breadcrumbs li:after {
  content: url("../img/icons/icon-right-small.svg");
}

.breadcrumbs li:last-child::after {
  content: none;
}

.main-heading {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;  
  background-color: var(--special-light-gray);
}

.filter, .sort h3 {
  font-family: "PT Sans", "Arial", sans-serif;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-black); 
}

.filter h2, .sort h3 {  
  font-size: 13px;  
  background-color: var(--basic-beige);
}

.filter legend {  
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
}

.filter input[type="text"] {
  font-size: 17px;
  line-height: 18px;
  background-color: var(--basic-beige);
}

.filter input[type="range"] {  
  background-color: var(--basic-beige);
}

.filter-brands, .filter-power {
  list-style: none;
}

.filter-brands label, .filter-power label {
  font-size: 15px;
  line-height: 19px;
}

.filter-brands input::before {
  content: url("../img/icons/checkbox-off.svg");
}

.filter-brands input:hover::before {
  content: url("../img/icons/checkbox-off-hover.svg");
}

.filter-brands input[checked]::before {
  content: url("../img/icons/checkbox-on.svg");
}

.filter-brands input[checked]:hover::before {
  content: url("../img/icons/checkbox-on-hover.svg");
}

.filter-power input::before {
  content: url("../img/icons/radio-off.svg");
}

.filter-power input:hover::before {
  content: url("../img/icons/radio-off-hover.svg");
}

.filter-power input[checked]::before {
  content: url("../img/icons/radio-on.svg");
}

.filter-power input[checked]:hover::before {
  content: url("../img/icons/radio-on-hover.svg");
}

.show-button {  
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  border: 1px solid var(--special-gray);
  background-color: var(--basic-white);
}

.sort-list {
  list-style: none;
}

.sort button {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);
  border: none;
  border-bottom: 1px dotted var(--basic-red);  
}

.sort button:hover {  
  color: var(--basic-black);
  border-bottom: 1px solid var(--basic-red);
}

.ascending::before {
  content: url(../img/icons/icon-up-dir.svg);  
}

.descending::before {
  content: url(../img/icons/icon-down-dir.svg);  
}

button.sort-order {
  border: none;  
}

button.sort-order:hover {
  border: none;  
}

.ascending:hover::before {
  content: url(../img/icons/icon-up-dir-black.svg);
}

.descending:hover::before {
  content: url(../img/icons/icon-down-dir-black.svg);
}

.catalog-pagination {
  list-style: none;
}

.catalog-pagination button {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: var(--basic-black);
  border: 1px solid var(--special-gray);
  border-radius: 2px;
  background-color: var(--basic-white);  
}

.catalog-pagination button:hover {
  border-color: var(--special-active-gray);
}

.catalog-pagination button:focus {
  border-color: var(--basic-red);
}

.main-footer {
  background-color: var(--basic-blue);
}

.footer-bottom {
  background-color: var(--basic-dark-blue);
}

.footer-site-navigation a {
  color: var(--basic-light-gray);
}

.footer-site-navigation a:hover {
  text-decoration: underline;
}

.footer-site-navigation a:focus {
  text-decoration: none;
  color: rgba(241, 245, 247, 0.5);
}

.footer-contacts {
  color: var(--special-almost-white);
}

.footer-additional-navigation a {
  color: var(--special-light-yellow);
}

.footer-additional-navigation a:hover {
  text-decoration: underline;
}

.footer-additional-navigation a:focus {
  text-decoration: none;
  color: rgba(255, 209, 128, 0.5);
}

.footer-copyright {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
}

.footer-social {
  list-style: none;    
}

.social-button {
  background-color: var(--specal-dark-blue);
}

.social-button:hover, .social-button:focus {
  background-color: var(--basic-red);
}

.vk::before {
  content: url(../img/icons/icon-vk.svg);  
}

.facebook::before {
  content: url(../img/icons/icon-fb.svg);  
}

.instagram::before {
  content: url(../img/icons/icon-insta.svg);  
}

.footer-feedback, .footer-developer {
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-white);
}

.footer-feedback a, .footer-developer a {
  color: var(--special-light-yellow);
}

.footer-feedback a:hover, .footer-developer a:hover {
  text-decoration: underline;
}

.footer-feedback a:focus, .footer-developer a:focus {
  color: var(--basic-red);
  text-decoration: none;
}

.contact-us label {
  color: var(--basic-black);
}

.contact-us input::placeholder, .contact-us textarea {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: var(--special-dark-gray);
  border: 2px solid var(--special-active-gray);
}

.close-button {
  background-image: url("../img/icons/icon-close.svg");
  background-repeat: no-repeat;
}

.added-to-cart p {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: var(--basic-black);  
}

.added-to-cart p::before {
  content: url(../img/icons/icon-mark.svg);
}

.button-area {
  background-color: var(--special-one-more-gray);
}

.continue-button {
  background-color: var(--basic-white);
  color: var(--basic-black);
}