:root {
  --basic-font-family: "PT Sans", "Verdana", sans-serif;
  --special-font-family: "Cuprum", "Arial", sans-serif;
  --basic-black: #000000;
  --basic-dark-blue: #293449;
  --basic-blue: #32425c;
  --basic-green: #63a63e;
  --basic-red: #ee3643;
  --basic-light-gray: #f1f5f7;
  --basic-beige: #f7f3ec;
  --basic-light-beige: #f9f5f0;
  --basic-white: #ffffff;
  --special-transparent-black: rgba(0, 0, 0, 0.3);
  --special-active-blue: #1d2739;
  --specal-dark-blue: #212a3a;
  --special-hover-blue: #3d546f;
  --special-light-blue: #3bbce3;
  --special-active-green: #518534;
  --special-hover-green: #5fbb2d;
  --special-green: #8ed78f;
  --special-hover-red: #ca2c37;
  --special-active-red: #ba2732;
  --special-purple: #dc91d8;
  --special-yellow: #ffbf47;
  --special-light-yellow: #ffd180;
  --special-active-yellow: rgba(255, 209, 128, 0.5);
  --special-very-dark-gray: #444444;
  --special-dark-gray: #a9a9a9;
  --special-darker-gray: #b5b5b5;
  --special-active-darker-gray: rgba(50, 66, 92, 0.5);
  --special-active-gray: #c5c5c5;
  --special-gray: #e5e5e5;
  --special-transparent-gray: rgba(169, 169, 169, 0.3);
  --special-lighter-gray: #eaeaea;
  --special-active-lighter-gray: rgba(241, 245, 247, 0.5);
  --special-transparent-lighter-gray: rgba(197, 197, 197, 0.3);
  --special-one-more-gray: #f1f1f1;
  --special-light-gray: #f2f6f8;
  --special-almost-white: #f3f7f9;
  --special-active-white: rgba(255, 255, 255, 0.5);
  --special-transparent-white: rgba(255, 255, 255, 0.3);
}

*, *::before, *::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.page {
  height: 100%;
}

.center {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.page-body {
  min-width: 960px; /* Раз поменяли box-sizing, то и здесь ширина с учетом паддингов должна быть указана, правда ведь? */
  margin: 0;
  padding: 0;
  font-family: var(--basic-font-family);
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: var(--basic-black);
  background-color: var(--basic-white);
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  min-height: 100%;
}

.main-header {
  display: grid;
  grid-template: "header-top" 42px
                 "header-middle" 1fr
                 "header-bottom" 60px / 100%;
  padding-bottom: 60px;
  font-family: var(--special-font-family);
  background-color: var(--special-almost-white);
}

.main-header-top {
  background-color: var(--basic-dark-blue);
  grid-area: header-top;
}

.main-header-top-menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  font-size: 18px;
  padding: 9px 0;
  color: var(--basic-white);
}

.main-header-middle {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 46px 0 40px 30px;
  grid-area: header-middle;
}

.main-header-bottom {
  font-size: 18px;
  color: var(--basic-white);
  background-color: var(--basic-blue);
  grid-area: header-bottom;
}

.main-content {
  display: grid;
  padding-top: 59px;
  padding-bottom: 70px;
}

.main-content.inner-page {
  display: grid;
  grid-template-columns: 220px auto;
  column-gap: 20px;
  padding-top: 21px;
  padding-bottom: 68px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.logo {
  background-color: var(--basic-red);
}

.main-header-logo {
  width: 220px;
}

.main-header-logo:active {
  background-color: var(--special-active-red);
}

.search-form {
  width: 270px;
}

.search-field {
  background-color: var(--basic-dark-blue);
 }

 .search-field::placeholder {
  color: var(--basic-white);
 }

 .search-button {
  background-color: var(--basic-dark-blue);
  color: var(--special-transparent-white);
}

 .search-field:hover + .search-button {
  color: var(--basic-white);
}

.search-button:hover {
  color: var(--basic-white);
}

.search-field:focus {
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.search-field:focus + .search-button {
  background-color: var(--basic-white);
  color: var(--basic-red);
}

.search-button:focus {
  color: var(--basic-white);
}

.bookmarks-link {
  color: var(--basic-white);
  width: 150px;
}

.bookmarks-link::before {
  content: url("../img/icons/icon-bookmark.svg");
}

.bookmarks-link:hover::before {
  /* иконка посветлее */
}

.bookmarks-link:focus::before {
  /* иконка посветлее */
}

.bookmarks-link:active {
  color: var(--special-active-white);
}

.cart-link {
  color: var(--basic-white);
  width: 150px;
}

.cart-link::before {
  content: url("../img/icons/icon-cart.svg")
}

.cart-link:hover::before {
  /* иконка посветлее */
}

.cart-link:focus::before {
  /* иконка посветлее */
}

.cart-link:active {
  color: var(--special-active-white);
}

.order-button {
  color: var(--basic-white);
  background-color: var(--basic-green);
  width: 150px;
}

.order-button:hover {
  background-color: var(--special-hover-green);
}

.order-button:focus {
  background-color: var(--special-hover-green);
}

.order-button:active {
  background-color: var(--basic-green);
  color: var(--special-active-white);
}

.main-header-description {
  font-size: 16px;
  line-height: 23px;
  color: var(--basic-red);
  width: 197px;
  margin-right: auto;
}

.main-header-contacts {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  width: 270px;
  margin-right: 69px;
}

.main-header-phone {
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  color: var(--basic-red);
  border: 3px solid var(--basic-white);
}

.main-header-phone::before {
  content: url(../img/icons/icon-phone.svg);
}

.main-header-address {
  font-size: 14px;
  color: var(--basic-blue);
}

.user-navigation {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  width: 299px;
}

.user-navigation-button {
  background-color: var(--basic-white);
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
}

.user-navigation-button:hover {
  color: var(--basic-red);
}

.user-navigation-button:hover > .user-navigation-icon {
  color: var(--special-hover-blue);
}

.user-navigation-button:focus {
  color: var(--basic-red);
}

.user-navigation-button:focus > .user-navigation-icon {
  color: var(--special-hover-blue);
}

.user-navigation-button:active {
  color: var(--special-active-gray);
}

.user-navigation-button:active > .user-navigation-icon {
  color: var(--special-active-gray);
}

.user-navigation-icon {
  color: var(--special-active-gray);
}

.user-navigation-icon:hover {
  color: var(--special-hover-blue);
}

.user-navigation-icon:focus {
  color: var(--special-hover-blue);
}

.user-navigation-icon:active {
  color: var(--special-active-gray);
}

.login-button {
  width: 121px;
  margin-right: 10px;
}

.registration-button {
  width: 150px;
}

.profile-button {
  width: 299px;
}

.profile-button:hover {
  color: var(--basic-black);
}

.profile-button:focus {
  color: var(--basic-black);
}

.profile-button:active {
  color: var(--special-active-gray);
}

.profile-navigation {
  list-style: none;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.profile-navigation-button {
  background-color: var(--basic-white);
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-blue);
}

.profile-navigation-button:hover {
  color: var(--basic-red);
}

.profile-navigation-button:focus {
  color: var(--basic-red);
}

.profile-navigation-button:active {
  color: var(--special-active-gray);
}

.site-navigation {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 16px 0 20px 52px;
}

.site-navigation-item {
  flex-grow: 1;
  margin-right: auto;
}

.site-navigation-link {
  color: var(--basic-white);
  background-color: var(--basic-blue);
}

.site-navigation-link[href]:hover {
  background-color: var(--basic-dark-blue);
}

.site-navigation-link[href]:focus {
  background-color: var(--basic-dark-blue);
}

.site-navigation-link[href]:active {
  background-color: var(--special-active-blue);
  color: var(--special-active-white);
}

.categories {
  font-family: var(--special-font-family);
  color: var(--basic-white);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 123px 123px 123px;
  gap: 20px;
  padding-bottom: 59px;
}

.slider {
  grid-column: 1 / 3;
  grid-row: 2 / -1;
}

.slider-pagination {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.slider-pagination-button {
  width: 10px;
  margin-right: 10px;
}

.categories-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

.button {
  font-family: var(--special-font-family);
  background-color: var(--basic-red);
  color: var(--basic-white);
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  border: none;
}

.button:hover {
  background-color: var(--special-hover-red);
}

.button:focus {
  background-color: var(--special-hover-red);
}

.button:active {
  background-color: var(--special-active-red);
}

.categories-item {
  background-repeat: no-repeat;
  background-position: center right;
}

.categories-item-link {
  background-color: var(--special-transparent-white);
}

.categories-item-link:hover {
  background-color: var(--special-transparent-lighter-gray);
}

.categories-item-link:focus {
  background-color: var(--special-transparent-lighter-gray);
}

.categories-item-link:active {
  background-color: var(--special-transparent-gray);
}

.slider-title {
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  margin: 0;
}

.materials {
  background-color: var(--special-yellow);
  background-image: url("../img/icons/icon-1.svg");
}

.tools {
  background-color: var(--special-light-blue);
  background-image: url("../img/icons/icon-2.svg");
}

.equipment {
  background-color: var(--special-purple);
  background-image: url("../img/icons/icon-3.svg");
}

.sale {
  background-color: var(--special-green);
  background-image: url("../img/icons/icon-4.svg");
}

.delivery {
  background-color: var(--special-yellow);
  background-image: url("../img/icons/icon-5.svg");
}

.slider-item {
  background-repeat: no-repeat;
  min-height: 266px;
}

.perforators {
  background-image: url("../img/slider/perforators.jpg");
  background-color: var(--special-dark-gray);
}

.drills {
  background-image: url("../img/slider/drills.jpg");
  background-color: var(--special-very-dark-gray);
}

.section-header {
  font-family: var(--special-font-family);
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-blue);
  flex-grow: 1;
  margin: 0;
  padding: 0;
}

.section-header-wrapper {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
  background-color: var(--basic-light-beige);
  padding: 25px 14px 26px 28px;
}

.popular-products-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  margin: 0;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 70px;
}

.popular-products-item {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
}

.popular-products-item:last-child .catalog-item {
  margin-right: 0;
}

.catalog-item .button {
  border-radius: 2px;
}

.buy-button {
  background-color: var(--basic-green);
}

.buy-button:hover {
  background-color: var(--special-hover-green);
}

.buy-button:focus {
  background-color: var(--special-hover-green);
}

.buy-button:active {
  background-color: var(--special-active-green);
}

.bookmark-button {
  border: 3px solid var(--basic-green);
  background-color: var(--basic-white);
  color: var(--basic-blue);
}

.bookmark-button:hover {
  background-color: var(--basic-white);
  border-color: var(--basic-blue);
}

.bookmark-button:focus {
  background-color: var(--basic-white);
  border-color: var(--basic-blue);
}

.bookmark-button:active {
  background-color: var(--basic-white);
  border-color: var(--special-active-darker-gray);
  color: var(--special-active-darker-gray);
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  margin: 0;
  padding: 0;
  margin-bottom: 48px;
}

.catalog-item {
  width: 220px;
  min-height: 318px;
  margin-right: 20px;
  margin-bottom: 18px;
  border: 1px solid var(--special-lighter-gray);
}

.catalog-item:nth-child(3n) {
  margin-right: 0;
}

.catalog-item-title {
  font-size: 18px;
  line-height: 20px;
  color: var(--basic-black);
}

.catalog-item-price-old {
  text-transform: uppercase;
  color: var(--special-dark-gray);
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
}

.catalog-item-price {
  text-transform: uppercase;
  background-color: var(--basic-red);
  background-repeat: no-repeat;
  color: var(--basic-white);
  font-weight: 700;
  font-size: 17px;
  line-height: 18px;
}

.brands-list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 50px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.brands-item {
  border: 1px solid var(--special-lighter-gray);
  width: calc((100% - 60px) / 4);
  margin-right: 20px;
  margin-bottom: 20px;
}

.brands-item:nth-child(4n) {
  margin-right: 0;
}

.section-header.alternative {
  color: var(--basic-black);
}

.services {
  background-color: var(--basic-light-gray);
  padding-top: 64px;
}

.services-description {
  width: 394px;
  margin-top: 25px;
  margin-bottom: 70px;
}

.perforators-intro {
  background-color: var(--basic-light-gray);
  grid-column: 1 / -1;
}

.services-slider {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.services-slider-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: 80px;
}

.services-slider-button {
  font-family: var(--special-font-family);
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  width: 240px;
  color: var(--basic-white);
  background-color: var(--basic-blue);
}

.services-slider-button:hover {
  background-color: var(--basic-dark-blue);
}

.services-slider-button:focus {
  background-color: var(--basic-dark-blue);
}

.services-slider-button.active {
  color: var(--basic-blue);
  background-color: var(--basic-white);
}

.services-slider-item {
  background-repeat: no-repeat;
  background-position: center right;
  flex-grow: 1;
  min-height: 283px;
}

.service-type-description {
  width: 50%;
  margin: 0;
  margin-top: 30px;
  padding: 0;
}

.services-delivery {
  background-image: url("../img/services/delivery.png");
}

.services-warranty {
  background-image: url("../img/services/warranty.png");
}

.services-loans {
  background-image: url("../img/services/loans.png");
}

.index-columns {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 70px;
}

.about-us {
  width: 50%;
  margin-right: auto;
}

.contacts {
  width: calc(100% / 3);
}

.partners-list {
  font-family: var(--special-font-family);
  font-size: 18px;
}

.breadcrumbs {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-column: 1 / -1;
}

.breadcrumbs-link {
  line-height: 18px;
  text-transform: uppercase;
}

.breadcrumbs .homepage::before {
  content: url("../img/icons/icon-home.svg");
}

.breadcrumbs-item {
  margin-right: 40px;
}

.breadcrumbs-item:after {
  content: url("../img/icons/icon-right-small.svg");
}

.breadcrumbs-item:last-child::after {
  content: none;
}

.main-heading {
  font-family: var(--special-font-family);
  margin: 0;
  padding: 29px 0 30px 29px;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  background-color: var(--special-light-gray);
  color: var(--basic-blue);
  grid-column: 1 / -1;
  margin-bottom: 20px;
}

.filter {
  line-height: 18px;
  text-transform: uppercase;
  margin-right: 20px;
}

.sort-and-filter {
  padding-bottom: 59px;
}

.sort-and-filter-title {
  margin: 0;
  padding: 0;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  font-weight: 400;
  margin-right: 140px;
}

.filter-form {
  margin: 0;
  padding: 0;
}

.filter-list {
  margin: 0;
  padding: 0;
}

.filter-fieldset {
  margin: 0;
  padding: 0;
  border: none;
  width: 220px;
}

.fieldset-price {
  padding-bottom: 25px;
  margin-bottom: 16px;
}

.fieldset-brands {
  padding-bottom: 27px;
  margin-bottom: 18px;
}

.fieldset-power {
  margin-bottom: 37px;
}

.filter-legend {
  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
}

.filter-field {
  background-color: var(--basic-beige);
}

.filter-field.text {
  font-size: 17px;
  line-height: 18px;
  width: 95px;
  margin: 0;
  padding: 0;
}

.filter-label {
  font-size: 15px;
  line-height: 19px;
}

.filter-brands {
  list-style: none;
}

.filter-brands-checkbox::before {
  content: url("../img/icons/checkbox-off.svg");
}

.filter-brands-checkbox:hover::before {
  /* иконка потемнее */
}

.filter-brands-checkbox:focus::before {
  /* иконка потемнее */
}

.filter-brands-checkbox:disabled::before {
  /* иконка посветлее */
}

.filter-brands-checkbox[checked]::before {
  content: url("../img/icons/checkbox-on.svg");
}

.filter-brands-checkbox[checked]:hover::before {
  /* иконка потемнее */
}

.filter-brands-checkbox[checked]:focus::before {
  /* иконка потемнее */
}

.filter-brands-checkbox[checked]:disabled::before {
  /* иконка посветлее */
}

.filter-power {
  list-style: none;
}

.filter-power-radio::before {
  content: url("../img/icons/radio-off.svg");
}

.filter-power-radio:hover::before {
  /* иконка потемнее */
}

.filter-power-radio:focus::before {
  /* иконка потемнее */
}

.filter-power-radio:disabled::before {
  /* иконка посветлее */
}

.filter-power-radio[checked]::before {
  content: url("../img/icons/radio-on.svg");
}

.filter-power-radio[checked]:hover::before {
  /* иконка потемнее */
}

.filter-power-radio[checked]:focus::before {
  /* иконка потемнее */
}

.filter-power-radio[checked]:disabled::before {
  /* иконка посветлее */
}

.show-button {
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  border: 1px solid var(--special-gray);
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.sort {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 16px 10px 20px;
  background-color: var(--basic-beige);
}

.sort-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.sort-list-item {
  flex-grow: 1;
}

.sort-button {
  line-height: 18px;
  text-transform: uppercase;
  color: var(--special-transparent-black);
  background-color: var(--basic-beige);
  border: none;
  border-bottom: 1px dotted var(--basic-red);
}

.sort-button:hover {
  color: var(--basic-black);
  border-bottom: 1px solid var(--basic-red);
}

.sort-button:focus {
  color: var(--basic-black);
  border-bottom: 1px solid var(--basic-red);
}

.sort-button.active {
  color: var(--basic-red);
  border-bottom: none;
}

.sort-order {
  border: none;
  color: var(--special-active-gray);
}

.sort-order:hover {
  border: none;
  color: var(--basic-black);
}

.sort-order:focus {
  border: none;
  color: var(--basic-black);
}

.sort-order.active {
  color: var(--basic-red);
}

.catalog-pagination {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.catalog-pagination-item {
  margin: 0;
  padding: 0;
  width: 38px;
  margin-right: 10px;
}

.catalog-pagination-item:last-child {
  width: 140px;
}

.catalog-pagination-button {
  width: 100%;
  line-height: 18px;
  border: 1px solid var(--special-gray);
  border-radius: 2px;
  background-color: var(--basic-white);
}

.catalog-pagination-button:hover {
  border-color: var(--special-active-gray);
}

.catalog-pagination-button:focus {
  border-color: var(--special-active-gray);
}

.catalog-pagination-button:active {
  border-color: var(--basic-red);
}

.catalog-pagination-button.active {
  background-color: var(--basic-red);
  color: var(--basic-white);
  border: none;
}

.main-footer {
  font-family: var(--special-font-family);
  background-color: var(--basic-blue);
  display: grid;
}

.main-footer-logo {
  width: 220px;
  margin-right: 173px;
  margin-bottom: 22px;
}

.main-footer-logo:active {
  background-color: var(--special-active-red);
}

.footer-bottom {
  background-color: var(--basic-dark-blue);
}

.footer-bottom-content {
  font-size: 16px;
  line-height: 18px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding-right: 14px;
  padding-bottom: 35px;
  padding-top: 35px;
}

.footer-middle {
  font-size: 18px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding-bottom: 54px;
}

.footer-site-navigation {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  flex-wrap: wrap;
  flex-grow: 1;
  margin: 0;
  padding: 0;
}

.footer-site-navigation-item {
  flex-grow: 1;
  margin-right: 50px;
  margin-bottom: 34px;
}

.footer-site-navigation-item:last-child {
  margin-right: 0;
}

.footer-site-navigation-link {
  color: var(--basic-light-gray);
}

.footer-site-navigation-link[href]:hover {
  text-decoration: underline;
}

.footer-site-navigation-link:focus {
  text-decoration: underline;
}

.footer-site-navigation-link:active {
  text-decoration: none;
  color: var(--special-active-lighter-gray);
}

.footer-contacts {
  color: var(--special-almost-white);
  width: 321px;
  margin: 0;
  margin-right: 92px;
}

.footer-additional-navigation {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.footer-additional-navigation-item {
  flex-grow: 1;
  margin-right: 60px;
}

.footer-additional-navigation-item:last-child {
  margin-right: 0;
}

.footer-additional-navigation-link {
  color: var(--special-light-yellow);
}

.footer-additional-navigation-link:hover {
  text-decoration: underline;
}

.footer-additional-navigation-link:focus {
  text-decoration: underline;
}

.footer-additional-navigation-link:active {
  text-decoration: none;
  color: var(--special-active-yellow);
}

.footer-copyright {
  margin: 0;
  color: var(--basic-white);
  width: 227px;
  margin-right: 161px;
}

.footer-social {
  list-style: none;
  margin: 0;
  margin-right: 118px;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.footer-social-item {
  width: 44px;
  margin-right: 1px;
}

.footer-social-item:last-child {
  margin-right: 0;
}

.social-button {
  background-color: var(--specal-dark-blue);
}

.social-button:hover {
  background-color: var(--basic-red);
}

.social-button:focus {
  background-color: var(--basic-red);
}

.social-button:active {
  background-color: var(--basic-red);
}

.vk::before {
  content: url(../img/icons/icon-vk.svg);
}

.facebook::before {
  content: url(../img/icons/icon-fb.svg);
}

.instagram::before {
  content: url(../img/icons/icon-insta.svg);
}

.footer-feedback {
  margin: 0;
  color: var(--basic-white);
  width: 137px;
  margin-right: 51px;
}

.footer-feedback-link {
  color: var(--special-light-yellow);
}

.footer-feedback-link:hover {
  text-decoration: underline;
}

.footer-feedback-link:focus {
  text-decoration: underline;
}

.footer-feedback-link:active {
  color: var(--basic-red);
  text-decoration: none;
}

.footer-developer {
  margin: 0;
  color: var(--basic-white);
  width: 98px;
}

.footer-developer-link {
  color: var(--special-light-yellow);
}

.footer-developer-link:hover {
  text-decoration: underline;
}

.footer-developer-link:focus {
  text-decoration: underline;
}

.footer-developer-link:active {
  color: var(--basic-red);
  text-decoration: none;
}

.contact-us-label {
  font-family: var(--special-font-family);
  font-size: 18px;
}

.contact-us-field::placeholder {
  color: var(--special-dark-gray);
  border: 2px solid var(--special-active-gray);
}

.contact-us-field {
  color: var(--special-dark-gray);
  border: 2px solid var(--special-active-gray);
}

.close-button {
  background-image: url("../img/icons/icon-close.svg");
  background-repeat: no-repeat;
}

.added-to-cart-message {
  font-family: var(--special-font-family);
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: var(--basic-black);
}

.added-to-cart-message::before {
  content: url(../img/icons/icon-mark.svg);
}

.button-area {
  background-color: var(--special-one-more-gray);
}

.continue-button {
  background-color: var(--basic-white);
  color: var(--basic-black);
}

.continue-button:hover {
  background-color: var(--basic-white);
  color: var(--special-transparent-black);
}

.continue-button:focus {
  background-color: var(--basic-white);
  color: var(--special-transparent-black);
}

.continue-button:active {
  background-color: var(--basic-white);
}
